<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>show</title>
</head>
<body>
  <div class="container">
    
    <h1>User {{user.first_name}}</h1> 
    <p class="text-right"><a href="/">Home</a></p>
    
    <div class="card" style="width: 20rem;">
        <div class="card-body">
          <h5 class="card-title">{{user.first_name}} {{user.last_name}}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{user.email}}</h6>
          <p class="card-text">INFO.</p>
          <a href="/users/{{user.id}}/edit" class="card-link">Edit</a>
          <a href="/delete/{{user.id}}" class="card-link">Delete</a>
        </div>
      </div>

    </div>
  </body>
</html>