#box{
    min-height: 500px;
    width: 400px;
    background-color: grey;
    display: flex;
    align-items: center;
    justify-content: center;
}

#title{
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: aliceblue;
    height: 100px;
}
