<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>dojos</title>
</head>
<body>
    <h1>dojos</h1>
    <div class="container">
        <div class="col">New Dojo
            <form action="/create/dojo" method= "post" >
                <input type="text" class="form"
                placeholder= "add a dojo here" name = "name">
                <button type="submit" class = "btn">Add Dojo</button>
            </form>
        </div>
        <div class="col">
            <h1>ALL DOJOS</h1>
            <ul class="list-group">
                    {% for dojo in dojos %}
                    <li class="list-group-item"><a href="/dojos/{{dojo.id}}">{{dojo.name}}</a></li>
                    {% endfor %}
                    
                 </ul>

        </div>
            
    </div>
</body>
</html>