<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Counter</title>
</head>
<body>
    <div>
        <h1 class="title">Counter</h1>
        <h1 class="info">Sessions: {{session["count"]}}</h1>
        <form action="/count" method="post">
            <button type="submit" class="btn" name="button" value="add">Add 2 Sessions</button>
            <button type="submit" class="btn "name="button" value="3">Add 3 Sessions</button>
            <button type="submit" class="btn "name="button" value="reset">Reset Counter</button>
        </form>

    
</body>
</html>